
<section  onclick="$('.sidenav').hide();$('#divNavBar').show()">
    <div class="main" style="background-color: #363740;margin-top: 100px;">
        <div class="row mt-4">
            <div class="col-md-3 col-lg-3 col-6 mb-1">
                <div class="card">
                    <div class="card-body jusify-items-center">
                        <p class="card-title">Total users</p>
                        <p class="card-text">{{totalUsers}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-6 mb-1 ">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 15px;">Total orders</p>
                        <p class="card-text">{{totalOrders}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-9 mb-1 ">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Today orders</p>
                        <p class="card-text">0</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-3 float-right mt-3">
                <a href="/admin/add-user" class="btn btn-primary btn-md">Add
                    User</a>
            </div>
            <div class="col-md-6 col-lg-3 col-12 mb-1 ">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Total banned users</p>
                        <p class="card-text">{{totalBanned}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="section bg-white " id="UsersBar">
            <div class="mt-1">
                <h4 class="ml-2 mt-2">All Users</h4>
            </div>

            <div class="table table-responsive">
                <table style="width: 100%;">
                    <div class="row col-12">
                        <thead>
                            <div class="col-12">
                                <tr>
                                    <th>User Name</th>
                                    <th>User Address</th>
                                    <th>Number</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </div>
                        </thead>
                    </div>
                    <div class="row">
                        {{#each user}}
                        <tbody>
                            <div class="col-12">
                                <tr>
                                    <td>{{this.username}}</td>
                                    <td>{{this.address}}</td>
                                    <td>{{this.phonenumber}}</td>
                                    <td>{{this.email}}</td>
                                    <td>
                                        <a href="/admin/edit-user/{{this._id}}" class="btn btn-success mb-1">Edit</a>
                                        <a onclick="document.getElementById('modal{{this._id}}').style.display='block'"
                                            class="btn btn-danger mb-1">Del</a>
                                        <a onclick="document.getElementById('ban{{this._id}}').style.display='block'"
                                            class="btn btn-warning mb-1">Ban</a>
                                        <i class="fa fa-ellipsis-v ml-1"></i>
                                    </td>
                                </tr>
                                <script>
                                    // Get the modal
                                    var modal = document.getElementById('ban{{this._id}}');

                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function (event) {
                                        if (event.target == modal) {
                                            modal.style.display = "none";
                                        }
                                    }

                                </script>
                                <div id="ban{{this._id}}" class="modal">
                                    <span onclick="document.getElementById('ban{{this._id}}').style.display='none'"
                                        class="close" title="Close Modal">&times;</span>
                                    <div class="modal-content">
                                        <div class="container">
                                            <h1>Ban Account</h1>
                                            <p>Are you sure you want to Ban {{this.username}} from venodor account?
                                            </p>

                                            <div class="clearfix">
                                                <button
                                                    onclick="document.getElementById('ban{{this._id}}').style.display='none'"
                                                    class="cancelbtn" type="button">Cancel</button>
                                                <a href="/admin/ban-user/{{this._id}}"><button type="button"
                                                        class="deletebtn">Ban</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    // Get the modal
                                    var modal = document.getElementById('modal{{this._id}}');

                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function (event) {
                                        if (event.target == modal) {
                                            modal.style.display = "none";
                                        }
                                    }

                                </script>
                                <div id="modal{{this._id}}" class="modal">
                                    <span onclick="document.getElementById('modal{{this._id}}').style.display='none'"
                                        class="close" title="Close Modal">&times;</span>
                                    <div class="modal-content">
                                        <div class="container">
                                            <h1>Delete Account</h1>
                                            <p>Are you sure you want to delete {{this.username}} from user account?
                                            </p>

                                            <div class="clearfix">
                                                <button
                                                    onclick="document.getElementById('modal{{this._id}}').style.display='none'"
                                                    class="cancelbtn" type="button">Cancel</button>
                                                <a href="/admin/delete-user/{{this._id}}"><button type="button"
                                                        class="deletebtn">Delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                        {{/each}}
                    </div>
                    <style>
                        * {
                            box-sizing: border-box
                        }

                        /* Set a style for all buttons */
                        button {
                            background-color: #4CAF50;
                            color: white;
                            padding: 14px 20px;
                            margin: 8px 0;
                            border: none;
                            cursor: pointer;
                            width: 100%;
                            opacity: 0.9;
                        }

                        button:hover {
                            opacity: 1;
                        }

                        /* Float cancel and delete buttons and add an equal width */
                        .cancelbtn,
                        .deletebtn {
                            float: left;
                            width: 50%;
                        }

                        /* Add a color to the cancel button */
                        .cancelbtn {
                            background-color: #ccc;
                            color: black;
                        }

                        /* Add a color to the delete button */
                        .deletebtn {
                            background-color: #f44336;
                        }

                        /* Add padding and center-align text to the container */
                        .container {
                            padding: 16px;
                            text-align: center;
                        }

                        /* The Modal (background) */
                        .modal {
                            display: none;
                            /* Hidden by default */
                            position: fixed;
                            /* Stay in place */
                            z-index: 1;
                            /* Sit on top */
                            left: 0;
                            top: 0;
                            width: 100%;
                            /* Full width */
                            height: 100%;
                            /* Full height */
                            overflow: auto;
                            /* Enable scroll if needed */
                            background-color: #474e5d;
                            padding-top: 50px;
                        }

                        /* Modal Content/Box */
                        .modal-content {
                            background-color: #fefefe;
                            margin: 5% auto 15% auto;
                            /* 5% from the top, 15% from the bottom and centered */
                            border: 1px solid #888;
                            width: 80%;
                            /* Could be more or less, depending on screen size */
                        }

                        /* Style the horizontal ruler */
                        hr {
                            border: 1px solid #f1f1f1;
                            margin-bottom: 25px;
                        }

                        /* The Modal Close Button (x) */
                        .close {
                            position: absolute;
                            right: 35px;
                            top: 15px;
                            font-size: 40px;
                            font-weight: bold;
                            color: #f1f1f1;
                        }

                        .close:hover,
                        .close:focus {
                            color: #f44336;
                            cursor: pointer;
                        }

                        /* Clear floats */
                        .clearfix::after {
                            content: "";
                            clear: both;
                            display: table;
                        }

                        /* Change styles for cancel button and delete button on extra small screens */
                        @media screen and (max-width: 300px) {

                            .cancelbtn,
                            .deletebtn {
                                width: 100%;
                            }
                        }
                    </style>
                </table>
            </div>
        </div>
    </div>
</section>