<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<div id="notifications">
    <center>
        <div  id="addToCart" style="display: none;">
            <span class="btn text-light bg-success">Added to cart successfully <i class="fa fa-check mt-1" style="font-size:22px;color:white"></i></span>
        </div>
    </center>

</div>

<body data-spy="scroll" data-offset="15">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
        <a class="navbar-brand" href="/" style="color: green;font-size: xx-large;"><b>MY MART</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
                <li>
                    <div style="width: 100%;">

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2  my-lg-0">
                <li class="nav-item mr-5" style="list-style: none;">
                    <div class="dropdown">
                        {{#if response}}
                        <a href="/cart">
                            <i class='fas fa-shopping-cart' style="font-size: 25px;color:green"></i>
                        </a>
                        {{else}}
                        <a href="/tempo-login">
                            <i class='fas fa-shopping-cart' style="font-size: 25px;color:green"></i>
                        </a>
                        {{/if}}

                    </div>
                </li>
                <li class="nav-item mr-4 " style="list-style: none;">
                    <div class="dropdown dropdown-menu-right">
                        <a class="btn dropdown-toggle" role="button" type="button" id="dropdownUser"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fas fa-user-alt' style="font-size: 25px;"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                            {{#if response}}
                            <a href="/manage-address" style="text-decoration: none;" class="dropdown-item">Manage
                                Address</a>
                            <a href="/view-orders" style="text-decoration: none;" class="dropdown-item">Your Orders</a>
                            <a class="dropdown-item" style="text-decoration: none;" href="/logout">Logout</a>
                            {{else}}
                            <a class="dropdown-item" style="text-decoration: none;" href="/tempo-login">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </li>
            </form>
        </div>
    </nav>

    <div id="product-view" style="display: none;">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content m-0">
                <!--Body-->
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card" style="height: 100%;">
                        <div class="content-1">
                            <span class="arrow-left">
                                <a onclick="closemodal('a{{this.products._id}}')"><i class="fas fa-arrow-left"
                                        aria-hidden="true"> </i></a>
                            </span>
                            <div class="main-image" align="center">
                                <img id="mainimage" style="height: 200px;" class="mt-2 mb-2"
                                    src="/product-images/{{this.products._id}}.jpg" alt="" id="remote1">
                            </div>
                            <hr>
                        </div>
                        <div class="content-3 ml-3 mr-3 mb-1">
                            <div class="branding">
                                <h3>{{this.products.name}}</h3>
                            </div>
                            <span style="font-size: 21px;">Price: ₹</span>
                            <span style="font-size: 21px;">{{this.price}}</span>
                            <div class="ratings mt-2 mb-4">
                                <span><b>Product rating: </b></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="qunatity mb-2">
                                <span><b>Quantity: </b><button class="btn btn-primary  text-center"
                                        style="width: 40px;font-size: 20px;height:50px"><b>-</b></button> 1 KG
                                    <button class="btn btn-primary text-center"
                                        style="width: 40px;font-size: 20px;height:50px"><b>+</b></button></span>
                            </div>
                            <div class="paragraph">
                                <p><b>Description: {{this.products.description}}</b>
                                </p>
                            </div>
                            <div class="price">
                                <p><span><b>Store: {{this.products.storename}}</b></span></p>
                                <p><span><b>Selled by: {{this.products.vendor}}</b></span></p>
                                <div class="space"></div>
                                <button onclick="addToCart('{{this.products._id}}')"
                                    class="btn btn-primary form-control">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    {{#each products}}
    <div style="display: none;" id="content{{this.product._id}}"></div>
    {{/each}}
    <script>
        function loaddata(id) {
            $('#cartdisplay').hide();
            $('#product-view').show()
        }
        function modalclose() {
            $('#modalmain').modal('hide')
        }
    </script>


    <link rel="stylesheet" href="/css/user/userlayout.css">
    <script src="/javascripts/user/userlayout.js"></script>
</body>