<section id="main-content">
    <div class="container">
        <h3>Address Manage</h3>
        {{#if primaryAddress}}
        <a id="addnewaddressbtn" class="btn btn-primary mb-2">+ Add New Address</a>
        {{/if}}
        <div class="row">
            {{#if primaryAddress}}

            <div class="col-6">
                <div class="jumbotron" style="background-color: thistle;">
                    <h4 class="text-primary">Default Address</h4>
                    <div class="float-right">
                        <a href="/edit-address/{{primaryAddress._id}}"><button id="editaddress" class="btn btn-primary mb-2">Edit
                                Address</button></a>
                    </div>
                    <div class="mt-4">
                        <label for="">Name</label>
                        <input style="text-align: left;" value="{{primaryAddress.address.name}}" type="text" disabled
                            class="form-control" placeholder="Full name">
                        <label for="">Phone number</label>
                        <input style="text-align: left;" value="{{primaryAddress.address.number}}" disabled type="text"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" /
                            maxlength="10" minlength="10" placeholder="Number" class="form-control">
                        <label for="">State</label>
                        <input style="text-align: left;" disabled type="text" class="form-control" value="Kerala"
                            disabled>
                        <label for="">Town/City</label>
                        <input style="text-align: left;" value="{{primaryAddress.address.town}}" disabled type="text"
                            class="form-control" placeholder="Town/city">
                        <label for="">Pincode</label>
                        <input style="text-align: left;" value="{{primaryAddress.address.pincode}}" disabled type="text" required
                            class="form-control" maxlength="6" minlength="6" placeholder="Pincode"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                        <label for="">Address</label>
                        <textarea style="text-align: left;" disabled id="" cols="20" class="form-control"
                            rows="5">{{primaryAddress.address.address}}</textarea>
                    </div>
                </div>
            </div>
                {{else}}
                <div class="col-12">
                    <h5 class="text-dark">+ New address</h5>
                    <div class="jumbotron" style="background-color: thistle;width: 60%" ;>
                        <form action="/new-address" method="POST" id="newaddressform" name="newaddress">
                            <label for="">Name</label>
                            <input style="text-align: left;" type="text" name="name" class="form-control"
                                placeholder="Full name">
                            <label for="">Phone number</label>
                            <input style="text-align: left;" type="text" name="number"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                / maxlength="10" minlength="10" placeholder="Number" class="form-control">
                            <label for="">State</label>
                            <input style="text-align: left;" type="text" class="form-control" value="Kerala" disabled>
                            <input style="text-align: left;" type="text" class="form-control" value="Kerala" hidden
                                name="state" id="">
                            <label for="">Town/City</label>
                            <input style="text-align: left;" type="text" name="town" class="form-control"
                                placeholder="Town/city">
                            <label for="">Pincode</label>
                            <input style="text-align: left;" type="text" required class="form-control" maxlength="6"
                                minlength="6" name="pincode" placeholder="Pincode"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            <label for="">Address</label>
                            <textarea style="text-align: left;" name="address" id="" cols="20" class="form-control"
                                rows="5"></textarea>
                            <input type="checkbox" checked hidden name="type">
                            <button type="submit" id="newaddressformbtn" class="btn btn-success mt-2">Submit
                                Address</button>
                        </form>
                    </div>
                </div>
                {{/if}}

            {{#each alternativeAddress}}
            <div class="col-6">
                <div class="jumbotron" style="background-color: thistle;">
                    <h4 class="text-primary">Alternative Address</h4>
                    <div class="float-right">
                        <a href="/delete-address/{{this._id}}"><button id="deleteaddress"
                                class="btn btn-danger mb-2">Delete Address</button></a>
                        <a href="/edit-address/{{this._id}}"><button id="editaddress" class="btn btn-primary mb-2">Edit
                                Address</button></a>
                    </div>
                    <div class="mt-4">
                        <label for="">Name</label>
                        <input style="text-align: left;" value="{{this.address.name}}" type="text" disabled
                            class="form-control" placeholder="Full name">
                        <label for="">Phone number</label>
                        <input style="text-align: left;" value="{{this.address.number}}" disabled type="text"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" /
                            maxlength="10" minlength="10" placeholder="Number" class="form-control">
                        <label for="">State</label>
                        <input style="text-align: left;" disabled type="text" class="form-control" value="Kerala"
                            disabled>
                        <label for="">Town/City</label>
                        <input style="text-align: left;" value="{{this.address.town}}" disabled type="text"
                            class="form-control" placeholder="Town/city">
                        <label for="">Pincode</label>
                        <input style="text-align: left;" value="{{this.address.pincode}}" disabled type="text" required
                            class="form-control" maxlength="6" minlength="6" placeholder="Pincode"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                        <label for="">Address</label>
                        <textarea style="text-align: left;" disabled id="" cols="20" class="form-control "
                            rows="5">{{this.address.address}}</textarea>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<div class="container">
    <div id="newForm" style="display: none;">

        <div class="jumbotron" id="newaddressform" style="background-color: thistle;width: 60%" ;>
            <div class="float-right">
                <a id="cancelformbtn" class="btn btn-primary">Cancel</a>
            </div>
            <h3>New address</h3>
            <form action="/new-address" method="POST" id="newextraaddress" name="newextraaddress">
                <label for="">Name</label>
                <input type="text" style="text-align: left;" name="name" class="form-control" placeholder="Full name">
                <label for="">Phone number</label>
                <input type="text" style="text-align: left;" name="number"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" /
                    maxlength="10" minlength="10" placeholder="Number" class="form-control">
                <label for="">State</label>
                <input type="text" style="text-align: left;" class="form-control" value="Kerala" disabled>
                <input type="text" style="text-align: left;" name="state" hidden class="form-cotnrol" value="Kerala">
                <label for="">Town/City</label>
                <input type="text" style="text-align: left;" name="town" class="form-control" placeholder="Town/city">
                <label for="">Pincode</label>
                <input type="text" style="text-align: left;" required class="form-control" maxlength="6" minlength="6"
                    name="pincode" placeholder="Pincode"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                <label for="">Address</label>
                <textarea name="address" style="text-align: left;" id="" cols="20" class="form-control"
                    rows="5"></textarea>
                <label for="">Make this address as default address</label>
                <input type="checkbox" name="type"><br>
                <button type="submit" id="newextraaddressbtn" class="btn btn-success mt-2">Submit Address</button>
            </form>

        </div>
    </div>
</div>
<div class="wrapperfooter">
        
        <div class="push">

        </div>
    </div>

    <style>
        .wrapperfooter{
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -142px;
        }
        footer {
            left: 3px;
            bottom: 0px;
            width: 100%;
            right: 3px;
            margin-top: 100px;
        }

        .footer,
        .push {
            height: 142px;
        }
    </style>
    <div class="footer text-light" id="footerMymart">
        <footer id="sticky-footer" class="py-4 bg-dark text-light text-light-50">
            <div class="flex-center ml-3">
                <ul class="ml-3">
                    <li><a title="Go to Home page" href="/" class="text-light"> Home page</a></li>
                    <li><a title="Go to Orders section" href="/view-orders" class="text-light"> Your Order</a></li>
                    <li><a title="Go to Cart" href="/cart" class="text-light"> Cart</a></li>
                    <li><a title="Go to Address section" href="/manage-address" class="text-light"> Manage address</a>
                    </li>
                </ul>
            </div>
            <div class="container text-center">
                <h5>FOLLOW US ON SOCIAL MEDIA</h5>
                <section id="lab_social_icon_footer">
                    <!-- Include Font Awesome Stylesheet in Header -->
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="container">
                        <div class="text-center center-block">
                            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
                                    class="fa fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/bootsnipp"><i id="social-tw"
                                    class="fa fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
                                    class="fa fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                            <a href=""><i id="social-em" class="fa fa-instagram fa-3x social"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <center><small class="text-center">Copyright &copy; MY MART 2020-2021</small></center>

        </footer>
    </div>
    <style>
        #lab_social_icon_footer {
            padding: 0px 0;
            background-color: white;
        }

        #lab_social_icon_footer a {
            color: #333;
        }

        #lab_social_icon_footer .social:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        #lab_social_icon_footer .social {
            -webkit-transform: scale(0.8);
            /* Browser Variations: */

            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }

        /*
    Multicoloured Hover Variations
*/

        #lab_social_icon_footer #social-fb:hover {
            color: #3B5998;
        }

        #lab_social_icon_footer #social-tw:hover {
            color: #4099FF;
        }

        #lab_social_icon_footer #social-gp:hover {
            color: #d34836;
        }

        #lab_social_icon_footer #social-em:hover {
            color: red;
        }
    </style>
<script>
    $('#addnewaddressbtn').click(function () {
        document.getElementById('newForm').style.display = "block";
        $('#main-content').hide()
    })
</script>
<script>
    $('#cancelformbtn').click(function () {
        document.getElementById('newForm').style.display = "none";
        $('#main-content').show()
    })
</script>