<div class="container mb-5">
    <section>
        <div class="card">
            <b class="m-3">Ordered on: {{orderDetails.date}}</b>
            <b class="m-3">Order Status: {{orderDetails.status}}</b>
            <b id="paid" style="display: none;" class="m-3">Payment: Paid</b>
            <b id="notpaid" style="display: none;" class="m-3">Payment: Not paid</b>
            {{#each orderDetails.products}}
            <div class="row">
                <div class="col-3 ml-2 mt-3">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between 1h-condensed">
                            <img style="height: 100px;" class="rounded" src="/product-images/{{this.item}}.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <ul class="list-group mb-3 z-depth-1">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <b>Quantity: {{this.quantity}}({{this.quantitytype}})</b>


                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <b>Price: ₹{{this.price}}</b>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <b>Total Price: {{this.quantity}} X {{this.price}} = ₹{{this.totalPrice}}</b>
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-12">
                     <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between 1h-condensed">
                          <b>Address: <br>{{orderDetails.deliveryDetails.address}},<br>{{orderDetails.deliveryDetails.town}},<br>{{orderDetails.deliveryDetails.state}}, {{orderDetails.deliveryDetails.pincode}}<br>{{orderDetails.deliveryDetails.name}}-{{orderDetails.deliveryDetails.number}}</b> 
                        </li>
                    </ul>
                    <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between 1h-condensed">
                            <b>Total Items: {{orderDetails.totalItems}}</b>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <b>Total Cost: ₹{{orderDetails.totalAmount}}</b>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>

    </section>
</div>
<p id="paymentmethod" hidden>{{orderDetails.paymentGateway}}</p>
<script>
    if(document.getElementById('paymentmethod').innerHTML=='razorpay'){
        document.getElementById('paid').style.display='block';
    }
    else{
        document.getElementById('notpaid').style.display='block';
    }
</script>